[commit]
	gpgsign = true
[core]
	editor = hx
	excludesFile = ~/.gitignore
	pager = delta
	compression = 0
[delta]
	features = catppuccin-mocha
	navigate = true
[diff]
	colorMoved = default
[include]
	path = ~/.config/delta/catppuccin.gitconfig
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[gpg]
	program = gpg
[merge]
	conflictstyle = diff3
[pull]
	rebase = false
[submodule]
	recurse = true
[user]
	name = pavelbezpravel
	email = p.talashchenko@gmail.com
	signingkey = D5F77C0D20A4F697!
